@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Urbanist', sans-serif;
}

body {
  background-color: #fcfbfc;
  overflow-x: hidden;
}

@theme {
  --color-primary: #6100bd;
  --color-primary-dark: #4a0091;
  --color-primary-light: #8b33d6;
  --color-secondary: #f4a261;
  --color-secondary-dark: #c97f3d;
  --color-accent: #2a9d8f;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.btn-primary {
  @apply bg-primary text-white font-medium px-4 py-2 rounded-lg 
         shadow-md hover:bg-primary-dark focus:ring-2 focus:ring-primary-light 
         transition-colors duration-200 ease-in-out;
}

button {
  @apply cursor-pointer;
}

.add-btn {
  @apply px-3 py-2 bg-primary rounded-lg text-white font-semibold;
}

.delete-btn {
  @apply px-3 py-2 bg-red-600 rounded-lg text-white font-semibold;
}

.card {
  @apply bg-white border border-gray-200/50 rounded-lg shadow-sm;
}

.card-btn{
  @apply px-4 py-2 bg-gray-200 rounded-lg text-black hover:text-primary font-semibold flex items-center gap-2;
}

.input{
  @apply bg-transparent outline-none border border-gray-300 rounded-md py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-primary;
}

/* ===== Scrollbar Track (background) ===== */
::-webkit-scrollbar {
  width: 10px;   /* vertical scrollbar */
  height: 10px;  /* horizontal scrollbar */
}

/* Track background */
::-webkit-scrollbar-track {
  background: #f1f1f1;  /* change this to any color */
  border-radius: 10px;
}

/* Scrollbar thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background: #4a0091; /* purple example */
  border-radius: 10px;
  border: 2px solid #f1f1f1; /* creates padding effect */
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #5b21b6;
}